@*MODAL CA LIST  *@
<div id="ModalCaList" class="modal fade" data-bs-backdrop="static" tabindex="-1">
    <div class="modal-dialog modal-xl  modal-dialog-scrollable  modal-dialog-centered modal-dialog-expand-animation append-here">
     
    </div>
</div>