<div class="accordion mb-3">
   <div class="accordion-item">
      <h2 class="accordion-header">
         <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#formSection_1">
            Priority Level <span class="fw-normal fs-6 ms-2 text-muted"> (click for more info)</span>
         </button>
      </h2>
      <div id="formSection_1" class="accordion-collapse collapse">


         <div class="accordion-body">
            <div>
               <div class="nav nav-tabs" id="nav-tab" role="tablist">
                  <button class="nav-link active" id="nav-home-tab" data-bs-toggle="tab" data-bs-target="#nav-home" type="button" role="tab" aria-controls="nav-home" aria-selected="true">English</button>
                  <button class="nav-link" id="nav-profile-tab" data-bs-toggle="tab" data-bs-target="#nav-profile" type="button" role="tab" aria-controls="nav-profile" aria-selected="false">Indonesia</button>
               </div>
            </div>
            <div class="tab-content" id="nav-tabContent">
               <div class="tab-pane fade show active pt-3" id="nav-home" role="tabpanel" aria-labelledby="nav-home-tab" tabindex="0">
                  <img src="~/Assets/PriorityLevelDescriptionEng.jpeg" class="w-100" />
                  <div class="text-end pt-3">
                     <a href="~/Assets/SkalaPrioritas/Skala_Prioritas_EN.pdf" class="fw-semibold link-primary" target="_blank">Detail Priority Level</a>
                  </div>
               </div>
               <div class="tab-pane fade pt-3" id="nav-profile" role="tabpanel" aria-labelledby="nav-profile-tab" tabindex="0">
                  <img src="~/Assets/PriorityLevelDescriptionInd.jpeg" class="w-100" />
                  <div class="text-end pt-3">
                     <a href="~/Assets/SkalaPrioritas/Skala_Prioritas_ID.pdf" class="fw-semibold link-primary" target="_blank">Detail Priority Level</a>
                  </div>
                  
               </div>
            </div>


         </div>
      </div>
   </div>
</div>