<div class="header-page d-flex align-items-center">
    <div class="d-flex flex-column flex-md-row align-items-center">
        <div class="text-truncate">
            Oops
        </div>
        <div class="header-page-small align-self-md-end">
            An error occurred while processing your request.
        </div>
    </div>
</div>
