@{
    ViewBag.Title = "Access Denied";
}

<div id="pageErrorMessage" style="display:none">You don't have permission to access this resource</div>

<div style="margin-top:100px">
    <div class="d-flex flex-column align-items-center">
        <i class="fa-solid fa-lock" style="font-size: 160px;color: #9f9f9f;-webkit-text-stroke: 10px black;"></i>
        <div class="fs-3 fw-semibold mt-4">You don't have permission to view this page</div>
        <div class="fs-5 text-muted">Contact Administrator who can give you access.</div>
    </div>
</div>