@using Actris.Web.Extensions
@model Actris.Abstraction.Model.Dto.TxActDto

@*MODAL CA FORM *@
<div id="CaModal" class="modal fade" data-bs-backdrop="static" tabindex="-1">
    <div class="modal-dialog modal-lg  modal-dialog-scrollable  modal-dialog-centered modal-dialog-expand-animation append-here">
        
    </div>
</div>