@{
    ViewBag.Title = "Page Not Found";
}

<div id="pageErrorMessage" style="display:none">Page Not Found</div>

<div style="margin-top: 0px;">
    <div class="d-flex flex-column align-items-center" style="
    margin-top: 54px;
">
        <div style="font-size: 231px;color: #9f9f9f;-webkit-text-stroke: 0px black;font-weight: bold;line-height: 236px;">404</div>
        <div class="fs-3 fw-bold">Sorry, Page Not Found</div>
        <div class="fs-5 text-muted">The page you requested could not be found</div>
    </div>
</div>