<div id="ApprovalResultModal" class="modal fade" data-bs-backdrop="static" tabindex="-1">
	<div class="modal-dialog modal-md  modal-dialog-scrollable  modal-dialog-centered modal-dialog-expand-animation">
		<div class="modal-content">
			<div class="modal-header">
				<h5 class="modal-title">Approval Result</h5>
				
			</div>
			<div class="modal-body">
				<div class="append-here">

				</div>
			</div>
			<div class="modal-footer">
				<button type="submit" class="btn btn-primary btn-will-loading" onclick="location.reload();" style="width:100px">Ok</button>
			</div>
		</div>
	</div>
</div>