@model List<Actris.Abstraction.Model.Response.ApprovalResult>

<div class="filter-section">
	<div>
		@foreach (var item in Model)
		{
			<div class="d-flex">
				<div class="text-center" style="width:26px">
					@if (item.Success)
					{
						<i class="fa-solid fa-check me-2 text-success"></i>
					}
					else if (true)
					{
						<i class="fa-solid fa-xmark me-2 text-danger"></i>
					}
				</div>

				@if (item.Success)
				{
					<div>
						<div>
							@item.CorrectiveActionID
							@if (item.ApprovalAction == "Approve")
							{
								<span>has been Approved</span>
							}
							else if (item.ApprovalAction == "Reject")
							{
								<span>has been Rejected</span>
							}
						</div>
					</div>
				}
				else
				{
					<div class="text-danger">
						<div>
							@item.CorrectiveActionID

							@if (item.ApprovalAction == "Approve")
							{
								<span>Approve failed</span>
							}
							else if (item.ApprovalAction == "Reject")
							{
								<span>Reject failed</span>
							}
						</div>

						<div class="fs-small text-danger">@item.ErrorMessage</div>
					</div>
				}
			</div>
		}
	</div>
</div>
