@using Actris.Abstraction.Model.View
@using Newtonsoft.Json
@model GridListModel

<div class="filter-section">

	<div class="d-flex">
		<button id="btnSubmit" class="btn btn-primary me-2" type="button" style="width:130px" disabled onclick="showApprovalConfirmationModal()">Submit</button>
		<button class="btn btn-secondary" onclick="@(Model.GridJsVar).downloadSpreadsheet(this)">
			Export Excel
			<i class="fa-solid fa-download ms-2"></i>
			<div class="spinner-border spinner-border-sm ms-2" role="status" style="display:none">
				<span class="visually-hidden">Loading...</span>
			</div>

		</button>




	</div>
	<div class="d-flex align-items-center">
		<form onsubmit="event.preventDefault();@(Model.GridJsVar).quickFind(this)">
			<div class="input-group">

				@{
					var anyFieldKeyword = Model?.FilterList?
						.FilterItems?
						.FirstOrDefault(o => o.FirstOrDefault()?.Name == "AnyField")?
						.FirstOrDefault()?.Value;
				}
				<input type="text" class="form-control quickfind" value="@anyFieldKeyword" placeholder="Quick Find">
				<button class="btn btn-secondary " type="submit"><i class="fa fa-magnifying-glass"></i></button>
			</div>
		</form>
	</div>


</div>
