<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<configSections>
		<!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
		<section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
	</configSections>
	<connectionStrings>
		<add name="ActrisContext" connectionString="metadata=res://*/Model.Entities.ActrisDb.csdl|res://*/Model.Entities.ActrisDb.ssdl|res://*/Model.Entities.ActrisDb.msl;provider=System.Data.SqlClient;provider connection string=&quot;
			data source=10.246.214.190,49745;
			initial catalog=DB_PHE_HSSE_DEV;
			persist security info=True;
			user id=user_db_phe_hsse_dev;
			password=phe_hsse_user_db_dev;
			MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />

		<!--<add name="ActrisContext" connectionString="metadata=res://*/Model.Entities.ActrisDb.csdl|res://*/Model.Entities.ActrisDb.ssdl|res://*/Model.Entities.ActrisDb.msl;provider=System.Data.SqlClient;provider connection string=&quot;
			data source=(local);
			initial catalog=DB_PHE_HSSE_DEV;
			persist security info=True;
		    Integrated Security = SSPI;
			MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />-->
	</connectionStrings>
	<entityFramework>
		<defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
			<parameters>
				<parameter value="mssqllocaldb" />
			</parameters>
		</defaultConnectionFactory>
		<providers>
			<provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
		</providers>
	</entityFramework>
	<runtime>
		<assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
			<dependentAssembly>
				<assemblyIdentity name="DocumentFormat.OpenXml" publicKeyToken="8fb06cb64d019a17" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-2.16.0.0" newVersion="2.16.0.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="ExcelNumberFormat" publicKeyToken="23c6f5d73be07eca" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-1.1.0.0" newVersion="1.1.0.0" />
			</dependentAssembly>
		</assemblyBinding>
	</runtime>
</configuration>