@using Actris.Web.Extensions
@using Actris.Abstraction.Model.View;
@using Actris.Abstraction.Enum;

@model Actris.Abstraction.Model.Dto.TxCaDto

<form class="modal-content" action="@Url.Action("OverdueSubmit","CorrectiveAction", new {id=""})" method="post" onsubmit="event.preventDefault()" autocomplete="off">

   <div class="modal-header">
      <h5 class="modal-title">Overdue Reason</h5>
      <div class="d-flex align-items-center">
         <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
   </div>
   <div class="modal-body">
      @Html.Partial("_Form-Overdue")
   </div>
   <div class="modal-footer">
      @if (Model.State == FormState.View)
      {
         <button type="button" class="btn btn-outline-danger" data-bs-dismiss="modal" style="width:100px">Close</button>
      }
      else
      {
         <button type="button" class="btn btn-outline-danger" data-bs-dismiss="modal" style="width:100px">Cancel</button>
         <button type="submit" class="btn btn-primary btn-will-loading" style="width:100px">Submit</button>
      }
   </div>
   <div class="modal-block-overlay"></div>
</form>
