

<div class="d-flex align-items-center justify-content-between mb-4">
   <div>
      <button type="button" class="btn  btn-secondary" style="width:150px" data-bs-toggle="modal" data-bs-target="#ModalHistory"><i class="fa-solid fa-clock-rotate-left me-2"></i>History</button>
   </div>
   <div class="flex-shrink-0 flex-grow-0">
      <button type="button" class="btn  btn-secondary" style="width:150px" onclick="onSaveClick()">Save</button>
      <button type="button" class="btn btn-primary ms-2" style="width:150px" onclick="onSubmitClick()">Submit</button>
   </div>
</div>

