<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  https://go.microsoft.com/fwlink/?LinkId=301879
  -->
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <connectionStrings>
    <!--not encrypted-->
	  <!--<add name="ActrisContext" connectionString="metadata=res://*/Model.Entities.ActrisDb.csdl|res://*/Model.Entities.ActrisDb.ssdl|res://*/Model.Entities.ActrisDb.msl;provider=System.Data.SqlClient;provider connection string=&quot;
			data source		= 10.246.214.190,49745;
			initial catalog	= DB_PHE_HSSE_DEV;
			user id			= user_db_phe_hsse_dev;
			password		= phe_hsse_user_db_dev;
			persist security info=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />-->
	  <add name="ActrisContext" connectionString="metadata=res://*/Model.Entities.ActrisDb.csdl|res://*/Model.Entities.ActrisDb.ssdl|res://*/Model.Entities.ActrisDb.msl;provider=System.Data.SqlClient;provider connection string=&quot;    data source  = (local);    initial catalog = DB_PHE_HSSE_DEV;    Integrated Security = SSPI;    persist security info=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    
    <!--encrypted-->
    <!--<add name="ActrisContext" connectionString="metadata=res://*/Model.Entities.ADSContext.csdl|res://*/Model.Entities.ADSContext.ssdl|res://*/Model.Entities.ADSContext.msl;provider=System.Data.SqlClient;
         provider connection string='rWsr4mMm1PX4IHzshHBm17gQ1gMAXrfZ0dnfgcKZgTo0BS6CaTdGdMp6uZFLPsC5K2D5VchxDbwAEJLMLryZEhxEK4vPHRTReDo28IWNscfrA5oXz720zehG9qQNc8iAP/JBbdm+W3KyGAl0cmt+LcleZEQT4g/b03fY503uktDtBfSjIyxuLYRJDOMnCeE3rAmDc0c3D7bIlT9aCiOQgoWozeV3s/PLQ2Jel6IkOBJ9nfhmfQOvU2A1DeNNIQbLk9lAJFx+aJo=';" providerName="System.Data.EntityClient" />-->
    
    <!--<add name="ActrisContext" 
         connectionString="metadata=res://*/Model.Entities.ADSContext.csdl|res://*/
         Model.Entities.ADSContext.ssdl|res://*/Model.Entities.ADSContext.msl;
         provider=System.Data.SqlClient;
         provider connection string=&quot;rWsr4mMm1PW3dPTREFy4AOXL0+U6Uw3ea7y/eNfY18DF51qcky8mjBSgvt6GZBxL+CfY8XPb18HspKhhzqiRov+PyNuy+bSDaOSQ2AKdMKkmrbyvJtme42j6RbrqKI5mIoIlp3ENQweJc8Vr6OLRyE0xg3+IMka9StLGvDivs8EvHpigYDCjtCmsh3pywIe1SEjtlXewlI/XJUzMqXld+aqHdNToEWeiXnigRQKaAc4=&quot;" providerName="System.Data.EntityClient" />-->
  
  </connectionStrings>
  <appSettings>
	<add key="Con:UseEncryption" value="false" />
    <add key="Con:Key" value="cNtAJpiGF3TDsiljhj4EMg==" />
    <add key="serilog:minimum-level" value="Information" />
    <add key="serilog:using:File" value="Serilog.Sinks.File" />
    <add key="serilog:write-to:File.path" value="C:\Data\Work\Repo\SHUNetMVC\Actris.Web\bin\Logs\log.txt" />
    <add key="serilog:write-to:File.fileSizeLimitBytes" value="10000000" />
    <add key="serilog:write-to:File.rollOnFileSizeLimit" value="true" />
    <add key="serilog:write-to:File.retainedFileCountLimit" value="10" />
   
    <!--SSO KEYCLOACK CONFIGURATION-->
    <add key="oidc:ServerRealm" value="https://sso.phe.pertamina.com/auth/realms/phe" />
    <add key="oidc:ClientId" value="phe_webapps" />
    <add key="oidc:ClientSecret" value="814c7f60-667f-499c-be07-e8804ac19d34" />
    <add key="oidc:Metadata" value="https://sso.phe.pertamina.com/auth/realms/phe/.well-known/openid-configuration" />
    <add key="oidc:RedirectUri" value="https://webappdev01.phe.pertamina.com/ADS-MVC/" />
    <!--<add key="oidc:RedirectUri" value="https://localhost:44323/ADS-MVC/" />-->
  
    <add key="aiman:AppFK" value="a3015640-3466-4cf1-bdc0-f414fe49cd17" />
    <add key="aiman:XAuth" value="eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCIsImN0eSI6IkpXVCJ9.eyJ1bmlxdWVfbmFtZSI6ImFwaS5haW1hbmRlbW8iLCJuYmYiOjE2NzM1Nzc2NDAsImV4cCI6MTcwNTExMzY0MCwiaWF0IjoxNjczNTc3NjQwfQ.-XgVJ2Qr8toDZBAJyilptgTWz_xyolOPb1ZNeDqGlGg" />
    <add key="aiman:Uri" value="https://webappdev01.phe.pertamina.com" />
    <add key="aiman:MasterUserData" value="/PHEMadamAPI/api/Employee/GetAllMasterEmployee" />
    <add key="aiman:UserData" value="/PHEMadamAPI/api/Application/UserData" />
    <add key="aiman:UserMenu" value="/PHEMadamAPI/api/Application/GetAppMenu" />
    <add key="aiman:DoTransaction" value="/PHEMadamAPI/api/Workflow/DoTransaction" />
    <add key="aiman:XPropMasterData" value="ddrKka+bgB52QZ5Q/+7tz9xXBrBHcxmRmLrY3x9ZoU+Cqtz4gbhVPsZQP4+pKW8Dz0Qbp96wND7jqq5Lk7Sw2A/LbZEvWJxYzDHB1HzWdiuxY7jVjVWimzRYx080Ryq0+Bnsc1IkITS+ZVQ3tykAFQWuRuAZkjzezwxPLorbw8PXNxfy7+F54UL449xpXy1EJb7b1k09TB+VywN3Do7WzLgW5JEe1MQKmerOOtB4R69I0GJdG6/6D7Yp7EVrei9a0eLtMKQRtknjLcg5FhjLuTz+IX5qgYljdi40Jf1XK++nRd5k0hklPPRpkIjwiC5ooSRWWJbMDxIBynSDPaCcoAWeNHRe3AjW9NorLYQqJ7IAla8tTL9IaM2sv6A+8xWv" />
    <add key="aiman:XPropUserData" value="kTyXlbAd/SG6Eodhdz3CBr22Tb4H4mZvmvOUKHZI4V7ELHbmqciz+COGTDoS8LnFoNn72xRjTaUMXuGnDSPpBPl7fPZn57ZlTMVKJ7C6iZrnDSG9nepsSE3Mhj+5xUPvP9BFUcuH2LeCzeI+QFhn/ZVOTpo0nIzV6Mxs69Ajmcks9zhjVlSuneBvn77x6faQSZ3m1xcpvUXe1gEWDdEX4QLayky6HEq1JgNIGq2lB7dkdMkkqTUUG66mn++SG6qvq/Q0hFnJVHmn544pA0gOU3zmmITpsz+S/tASRFXKM7A=" />
    <add key="aiman:XPropUserMenu" value="hk4WPrGK9SC/x46J9cSguRWmOI9kXlhp70F7RNBJnekcEdXnvIF8YDchPfotL8MqeCwRYcExb2n9gsE3E4gLo+Eo7e0solRE4zSOntDuWxmKghiuTNUdykW3qIgi0LxL+UnN2qNWPOKFa3AD8atqoQ==" />

    <!--app log-->
    <add key="AppLog:Key" value="95524e4c279da53746b8723173e461d1c44c5c0f91c09893e1c73f8cee002833" />
    <add key="AppLog:Code" value="AIMAN_DEMO" /> 
    <add key="AppLog:Link" value="https://webappdev01.phe.pertamina.com/PHE_APPLOG/App_Log.asmx/INSERT_APP_LOG?" />
  
  </appSettings>
  <system.web>
<customErrors mode="Off" />
    <authentication mode="Forms" />
    <!--change to None for SSO login, change to Forms for bypass login-->
    <compilation debug="true" targetFramework="4.8" />
    <httpRuntime targetFramework="4.8" />
    <pages>
      <namespaces>
        <add namespace="Kendo.Mvc.UI" />
      </namespaces>
    </pages>
  </system.web>
  <system.webServer>
    <modules>
      <!--<remove name="FormsAuthentication" />-->
      <!--enable this when using sso authentication-->
    </modules>
    <handlers>
      <remove name="ExtensionlessUrlHandler-Integrated-4.0" />
      <remove name="OPTIONSVerbHandler" />
      <remove name="TRACEVerbHandler" />
      <add name="ExtensionlessUrlHandler-Integrated-4.0" path="*." verb="*" type="System.Web.Handlers.TransferRequestHandler" preCondition="integratedMode,runtimeVersionv4.0" />
    </handlers>
  </system.webServer>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin.Security" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-4.2.2.0" newVersion="4.2.2.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin.Security.OAuth" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.1.0" newVersion="4.0.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin.Security.Cookies" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.1.0" newVersion="4.0.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-4.2.2.0" newVersion="4.2.2.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Antlr3.Runtime" publicKeyToken="eb42632606e9261f" />
        <bindingRedirect oldVersion="0.0.0.0-3.5.0.2" newVersion="3.5.0.2" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Optimization" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-1.1.0.0" newVersion="1.1.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="WebGrease" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-1.6.5135.21930" newVersion="1.6.5135.21930" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" />
        <bindingRedirect oldVersion="0.0.0.0-12.0.0.0" newVersion="12.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Threading.Tasks.Extensions" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.2.0.1" newVersion="4.2.0.1" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Runtime.CompilerServices.Unsafe" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="DocumentFormat.OpenXml" publicKeyToken="8fb06cb64d019a17" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.16.0.0" newVersion="2.16.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="ExcelNumberFormat" publicKeyToken="23c6f5d73be07eca" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.1.0.0" newVersion="1.1.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Buffers" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.3.0" newVersion="4.0.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.ValueTuple" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.3.0" newVersion="4.0.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="SkiaSharp" publicKeyToken="0738eb9f132ed756" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.88.0.0" newVersion="2.88.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="SkiaSharp.HarfBuzz" publicKeyToken="0738eb9f132ed756" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.88.0.0" newVersion="2.88.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Http" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.7.0" newVersion="5.2.7.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Helpers" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.9.0" newVersion="5.2.9.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Memory" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.1.1" newVersion="4.0.1.1" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <entityFramework>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
  <system.codedom>
    <compilers>
      <compiler language="c#;cs;csharp" extension=".cs" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.CSharpCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=2.0.1.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" warningLevel="4" compilerOptions="/langversion:default /nowarn:1659;1699;1701" />
      <compiler language="vb;vbs;visualbasic;vbscript" extension=".vb" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.VBCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=2.0.1.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" warningLevel="4" compilerOptions="/langversion:default /nowarn:41008 /define:_MYTYPE=\&quot;Web\&quot; /optionInfer+" />
    </compilers>
  </system.codedom>
</configuration>