<?xml version="1.0"?>

<!-- For more information on using Web.config transformation visit https://go.microsoft.com/fwlink/?LinkId=301874 -->

<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
	<connectionStrings>
		<add name="ActrisContext" connectionString="metadata=res://*/Model.Entities.ActrisContext.csdl|res://*/Model.Entities.ActrisContext.ssdl|res://*/Model.Entities.ActrisContext.msl;provider=System.Data.SqlClient;provider connection string='oamnmGb9bdtN2DzpE6EI9WMwqsF8KVMxufymoXg/JuP10RTDfnCjAGuIhAPlQJaFRDFbc330PZ534kClK4UEakaCTOEBMGSfbbap2pGJZXOd91v0rerdEYfwmlrEQWpwiWKTjtz2cmfsHeCKIJprdC/046240q6B6zEG9niR1BMwK2vITkcufyyqxG+6pjpIA24qHLSps7E8cCZjYHOviB0F7Xq9dWivJA8LURkLfFXN+gi0NXhSoIUz3JtXW9y/KY0P5vIEOR83nokC3bvvxbUX+5LpxOTX'" providerName="System.Data.EntityClient" xdt:Transform="SetAttributes" xdt:Locator="Match(name)"/>
	</connectionStrings>
	<appSettings>
		<add key="oidc:RedirectUri" value="https://webappdev01.phe.pertamina.com/PHE_ACTRIS/"  xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
	</appSettings>
	<system.web>
		<compilation xdt:Transform="RemoveAttributes(debug)" />
		<!--
      In the example below, the "Replace" transform will replace the entire
      <customErrors> section of your Web.config file.
      Note that because there is only one customErrors section under the
      <system.web> node, there is no need to use the "xdt:Locator" attribute.

      <customErrors defaultRedirect="GenericError.htm"
        mode="RemoteOnly" xdt:Transform="Replace">
        <error statusCode="500" redirect="InternalError.htm"/>
      </customErrors>
    -->

		<!--<customErrors mode="Off" />-->
	</system.web>
</configuration>
